[Desktop Entry]
Type=Application
Exec=lxqt-panel-profiles
Icon=preferences-system
Categories=Settings;DesktopSettings;Qt;LXQt;
OnlyShowIn=LXQt;

Name=Panel Profiles
Comment=Backup and restore your panel configuration
