Source: lxqt-panel-profiles
Priority: optional
Version: 1.0
Maintainer: John Faulk <johnny.faulk00@yahoo.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5

Package: lxqt-panel-profiles
Architecture: all
Version: 1.0
Depends: python3-pyqt6, lxqt-panel, tar, qdbus-qt5, qdbus-qt6
Description: LXQt Panel Layout Manager
 A Layout Manager for LXQT that allows 
 backing up and restoring panel configurations
