Package: lxqt-panel-profiles
Version: 1.0
Architecture: all
Maintainer: John Faulk <johnny.faulk00@yahoo.com>
Installed-Size: 62
Depends: python3-pyqt6, lxqt-panel, tar
Priority: optional
Description: LXQt Panel Layout Manager
 A Layout Manager for LXQT that allows
 backing up and restoring panel configurations
